body, html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  padding: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#about {
}

.section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 28rem;
}

.article-wrapper {
  border-radius: 1rem;
}

:root {
  text-size-adjust: 100%;
}

h1,h2,h3,h4,h5,h6,p{
  margin: 0;
}

@media screen and (max-width: 768px) {
  .section {
    flex-direction: column-reverse;
  }

  #about {
    height: auto
  }

  .intro-wrapper {
    flex-basis: 0;
  }

  .image-wrapper {
    min-width: 0 !important;
    height: 20rem !important;
    background: #F3B9BA url(../src/img/me_cutout.png);
    background-repeat: no-repeat;
    background-position: center bottom 80%;
    background-size: 90%;
  }

  .me {
    display: none !important;
  }

}