@import '../../variables.scss';
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: $pink;
  position: relative;
  flex-grow: 1;
  min-width: 12rem;
  height: 100%;
  overflow: hidden;
  border: 2px solid #eaa9aa;
}

.me {
  height: 90%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.logo-white {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  width: 10rem;
  z-index: 0;
}